#login-background{
    background-image: url("../../assets/background7.jpg") !important;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 810px;
  }
  .login-card{
    background-color: white;
    min-height: 600px;
    width: 100%;
    margin-top: 35%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 10%;
    padding-top: 25%;
  }
  .password-card{
    background-color: white;
    min-height: 500px;
    width: 100%;
    margin-top: 35%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 10%;
    padding-top: 25%;
  }
  .login-layer{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.158);
  }
  .login-head{
    text-align: center;
    font-size: 25px;
    color: navy;
    margin-bottom: 10%;
  }
  .login-btn{
    width: 90%;
    background-color: navy;
    margin-left: -20%;
    color: white;
    height: 40px;
    border-radius:10px;
    font-size: 12px;
  }
  .login-btn:hover{
    width: 100%;
    background-color: navy;
    margin-left: -25%;
    color: white;
    height: 45px;
    font-size: 15px;
    transition: 0.6s ease;
    font-weight: bold;
    text-transform: uppercase;
  }