.add-sub-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-sub-admin-form{
    width: 40%;
    padding: 10vh 2vw;
    background-color: #fff;
    box-shadow: 5px 5px 8px -2px rgba(0,0,0,0.2);
}