.top-section {
  background-image: url("../../assets/background1.jpg")!important;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.top-section1 {
  background-image: url("../../assets/background2.jpg") !important;
  background-size: cover;
  width: 100%;
  height: 80vh;
  justify-content: center;
}

.top-section2 {
  background-image: url("../../assets/background3.jpg") !important;
  background-size: cover;
  width: 100%;
  height: 80vh;
  justify-content: center;
}

.top-section-mobile {
  background-image: url("../../assets/mobile-background.jpg") !important;
  background-size: cover;
  width: 100%;
  height: 80vh;
  justify-content: center;
}

.main-heading {
  color: #fff;
  font-size: 80px;
}

.layer {
  background-color: hsla(0, 0%, 0%, 0.34);
  height: 100%;
  width: 100%;
  padding-top: 18%;
  padding-left: 5%;
}

.layer-mobile {
  background-color: hsla(0, 0%, 0%, 0.1);
  height: 100%;
  width: 100%;
  padding-top: 2%;
  padding-left: 5%;
}

.layer1 {
  background-color: hsla(0, 0%, 0%, 0.64);
  height: 100%;
  width: 100%;
  padding-top: 18%;
  padding-left: 5%;
}

.mobile-heading {
  color: #fff !important;
  margin-top: 80%;
}